@use 'sass:map';
@use './variables' as var;

// Mixin to generate media query for a specific breakpoint
@mixin respond($breakpoint, $min-max: max) {
	$size: map.get(var.$breakpoints, $breakpoint);
	@if $size {
		@media only screen and (#{$min-max}-width: #{$size}) {
			@content;
		}
	} @else {
		@warn "Breakpoint '#{$breakpoint}' not found in \$breakpoints map.";
	}
}

// Slide appear animation
@mixin slide-appear-x($x, $name, $duration, $fill-mode: forwards) {
	@keyframes #{$name} {
		from {
			opacity: 0;
			transform: translateX($x);
		}
		to {
			opacity: 1;
			transform: translateX(0);
		}
	}

	animation: #{$name} $duration $fill-mode;
}

@mixin slide-appear-y($y, $name, $duration, $fill-mode: forwards) {
	@keyframes #{$name} {
		from {
			opacity: 0;
			transform: translateY($y);
		}
		to {
			opacity: 1;
			transform: translateY(0);
		}
	}

	animation: #{$name} $duration $fill-mode;
}
