@use './variables' as var;
@use './mixins' as mix;
@use 'sass:map';

// Loop to create color utility classes
@each $name, $color in var.$colors {
	.text-#{$name} {
		color: $color;
	}
	.bg-#{$name} {
		background-color: $color;
	}
	.fill-#{$name} {
		fill: $color;
	}
}

.section-padding {
	padding: 0 10vw;
	@include mix.respond('lg') {
		padding: 0 5vw;
	}
	@include mix.respond('md') {
		padding: 0 2vw;
	}
	@include mix.respond('sm') {
		padding: 0 10px;
	}
}

.section-title {
	color: map.get(var.$colors, 'primary');
	font-size: clamp(32px, 3vw, 52px);
	font-weight: 700;
	letter-spacing: 0.03em;
	line-height: 1;
	text-align: center;
}
