@use './variables' as var;
@use './mixins' as mix;
@use 'sass:map';

// Loop to create color utility classes
@each $name, $color in var.$colors {
	.text-#{$name} {
		color: $color;
	}
	.bg-#{$name} {
		background-color: $color;
	}
	.fill-#{$name} {
		fill: $color;
	}
}

.section-padding {
	padding: 0 9vw;
	@include mix.respond('lg') {
		padding: 0 5vw;
	}
	@include mix.respond('md') {
		padding: 0 2vw;
	}
	@include mix.respond('sm') {
		padding: 0 10px;
	}
}

.section-title {
	font-family: var.$font-base;
	color: map.get(var.$colors, 'primary');
	font-size: clamp(32px, 4vw, 52px);
	font-weight: 800;
	letter-spacing: -0.03em;
	line-height: 1;
	text-align: center;
}

.align-self-end {
	align-self: flex-end;
}

.none-min-md {
	@include mix.respond('md', min) {
		display: none;
	}
}
.resize-none {
	resize: none;
}
