// Colors
$colors: (
	'primary': rgb(3, 77, 145),
	'secondary': rgba(179, 17, 51),
	'light-blue': rgb(180, 200, 220),
	'dark-blue': rgb(96, 128, 159),
	'grey': rgb(144, 157, 162),
	'light-grey': rgb(230, 233, 234),
	'black': rgb(34, 40, 43),
	'white': rgb(241, 248, 255)
);

// Breakpoints
$breakpoints: (
	'xsm': 400px,
	'sm': 576px,
	'md': 768px,
	'lg': 992px,
	'xl': 1200px,
	'xxl': 1400px
);

$font-base: 'Gilroy', sans-serif;
$font-secondary: 'Inter', sans-serif;
