@use '../abstracts/mixins' as mix;
@use 'sass:map';

.icon {
	&-filter {
		width: 20px;
		aspect-ratio: 1;
	}
	&-search {
		width: 16px;
		aspect-ratio: 1;
		fill: #fff;
		transition: fill 0.3s;
	}
	&-logo {
		width: 135px;
		aspect-ratio: 135/40;
		--main-color: rgba(179, 17, 51);
		--secondary-color: rgb(3, 77, 145);
		@include mix.respond('md') {
			width: 154px;
		}
	}
	&-menu {
		width: 24px;
		height: 24px;
		fill: #fff;
	}
	&-arrow {
		width: 12px;
		height: 7px;
		fill: none;
		stroke: rgba(17, 24, 28, 1);
		transition: transform 0.3s;
	}
	&-close {
		width: 12px;
		height: 12px;
	}
	&-calendar {
		width: 20px;
		height: 20px;
		fill: #909da2;
	}
	&-search-close {
		width: 20px;
		height: 20px;
	}
	&-play {
		width: 8px;
		height: 15px;
	}
}
